<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- Page level plugin CSS-->
    <link href="static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/style/index.css" rel="stylesheet">

    <title>Acceuil</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-sm-6 mb-6">
                <div class="card ">
                    <h1 class="card-header">Translate</h1>
                    <h3 class="translate-decription">Cliquez ici pour</h3>
                    <h3 class="translate-decription">Traduire une phrase</h3>
                    <a role="button" href="{{ url_for('traduction',page_num=1) }}" class="btn btn-success">GO !</a>
                </div>
            </div>
            <div class="col-xl-6 col-sm-6 mb-6">
                <div class="card ">
                    <h1 class="card-header">Score</h1>
                    <h3 class="translate-decription">Cliquez ici pour</h3>
                    <h3 class="translate-decription">Noter une traduction</h3>
                    <a role="button" href="{{ url_for('score',page_num=1) }}" class="btn btn-success">GO !</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>