<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/style/login.css" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
       {% if messages %}
         {% for message in messages %}

            <h3 id="myPopup">{{ message }}</h3>
              <script>
                // When the user clicks on <div>, open the popup

                  var popup = document.getElementById("myPopup");
                  popup.classList.toggle("show");

             </script>
         {% endfor %}
       {% endif %}
    {% endwith %}
    <div>
        <div class="container" id="container">
            <div class="form-container sign-up-container">
                <form id="sign-up-form"
				 	  action="{{ url_for('login',sign='up')}}"
					  method="POST">
                    <h1>Créer votre compte</h1>
                    <span>Entrer un nom d'utilisateur.</span>
                    <input type="text" name="sign" placeholder="Nom d'utilisateur " />
                    <button>Créer un compte</button>
                </form>
            </div>
            <div class="form-container sign-in-container">
                <form id="sign-in-form"
				 	  action="{{ url_for('login',sign='in')}}"
					  method="POST">
                    <h1>Se connecter</h1>
                    <span>Entrer votre nom d'utilisateur.</span>
                    <input type="text" name="sign" placeholder="Nom d'utilisateur" />
                    <button>Connecter</button>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>Vous avez un</h1>
                        <h1>compte deja!?</h1>
                        <p style="margin-bottom: 5px;">Clicker dessous pour entre</p>
                        <p style="margin-top: 5px;">votre nom d'utilisateur.</p>
                        <button class="ghost" id="signIn">Se connecter</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h1>vous n'êtes pas inscrit!?</h1>
                        <p style="margin-bottom: 5px;">Soyez le bienvenu!</p>
                        <p style="margin-bottom: 5px;margin-top: 5px;">Inscrivez-vous avec </p>
                        <p style="margin-top: 5px;">juste un nom d'utilisateur.</p>
                        <button class="ghost" id="signUp">Créer un compte</button>
                    </div>
                </div>
            </div>
        </div>
    </div>    

</body>

<script>
    const signUpButton = document.getElementById('signUp');
const signInButton = document.getElementById('signIn');
const container = document.getElementById('container');

signUpButton.addEventListener('click', () => {
    container.classList.add("right-panel-active");
});

signInButton.addEventListener('click', () => {
    container.classList.remove("right-panel-active");
});

</script>



</html>