<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Score</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- FontAwesome JS-->
    <script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js" integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7" crossorigin="anonymous"></script>
    
	<!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="templates/static/assets/css/theme-1.css">
	<link href="template/static/style/traduction.css" rel="stylesheet">

</head>

<body>
    
    <div class="header " style="overflow: auto;">
		<img src="./static/style/icon/google_translate.png" height="142" width="142" style="margin-bottom: 50px;"/>
		<div class="link-back" style="margin-bottom:50%"><div class="card " style="margin-right:10px; ">
				<h6>* Votre Score : {{avrg}}</h6>
			</div>

			<h6 style="margin-top: 50px;">Top  5 :</h6>
			<div class="top-ten ">
				<ul>
					{% for top in tops %}
						<li style="color: black;"> {{top}}</li><br/>
					{% endfor %}
				</ul>	
			</div>
			<p></p>
			<i class="fa fa-home" style="color: black;" >  </i><a role="text" href="{{ url_for('index') }}" >  Menu</a><br/>
			<i class="fas fa-language" style="color: black;"></i><a role="text" href="{{ url_for('traduction',page_num=1) }}" >  Traduire</a><br/>
			<i class="fa fa-sign-out" style="color: black;"></i><a role="text" href="{{ url_for('logout') }}" >  Sortir</a>
		</div>
    </div>
    
    <div class="main-wrapper">
	    <section class="cta-section theme-bg-light py-5">
		    <div class="container text-center">
			    <h2 class="heading">Veuillez noter la  traduction des phrases ci-dessous de 1 à 10</h2>
			    <div class="intro">Les notes doivent etre basées sur le contenu des deux phrases, et non pas le vocabulaire utilisè ou l'orthographe.</div>
<!--			    <form id="recherch-form"-->
<!--					  class="signup-form form-inline justify-content-center pt-3"-->
<!--				 	  action="{{ url_for('reserch',page='score')}}"-->
<!--					  method="POST">-->
<!--                    <div class="form-group">-->
<!--                        <input type="text" id="semail" name="recherch" class="form-control mr-md-1 semail" placeholder="recherche ...">-->
<!--                    </div>-->
<!--                    <button type="submit" class="btn btn-primary">Recherche</button>-->
<!--                </form>-->
		    </div><!--//container-->
	    </section>
	    <section class="blog-list px-3 py-5 p-md-5">
		    <div class="container">
				{% if traductions.items  %}
					{% for traduction in   traductions.items %}
						<div class="item mb-5">
							<div class="media">
								<div class="media-body"style="padding:7px;">

									<h3 class="title mb-1" style="margin-left:15px;">{{traduction.src}}</h3>
									<hr style="border: 1px dashed #000; width: 50%; margin: auto; margin-top: 5%; margin-bottom: 5%;"></hr>
									<h3 class="title mb-1" style="margin-left:15px;">{{traduction.trg}}</h3>
									{% set page = traductions.page | int %}
									<form id="comment-form{{traduction.trg}}" class="signup-form form-inline pt-3" action="{{ url_for('score',id_traduction=traduction.id,page_num=page)}}" method="POST">
										<div class="form-group" style="margin-bottom: 5px;">
											<input type="range" name="score{{traduction.id}}" form="comment-form{{traduction.trg}}" value="0" min="0" max="10" id="score{{traduction.id}}" class="form-control mr-md-1 semail slider" >
											</br>
											<h6><label class="form-check-label" for="score{{traduction.id}}" >.  Noter la traduction </label> </h6>
										</div>
										<div class="form-group">
											<textarea   id="comment{{traduction.id}}" name="com{{traduction.id}}" cols="70%" form="comment-form{{traduction.trg}}" class=" form-control mr-md-1 semail " placeholder="comment..."></textarea>
										</div>
										<button type="submit" class="btn btn-primary">Envoyer</button>
									</form>

								</div><!--//media-body-->
							</div><!--//media-->
						</div><!--//item-->
					{% endfor %}
				{% else %} 
					  <h1 style="text-align: center;">cette page la est vide </h1> 
					  <h1 style="text-align: center;">:(</h1> 
				{% endif %}
				<div class=pagination>
					{% for page in traductions.iter_pages() %}
						{% if page %}
							<a href="{{url_for('score',page_num=page)}}" style=" border-radius: 5px;"> {{page}}</a>
						{% endif %}
					{% endfor %}
				</div>
		    </div>
	    </section>
	    
    
    </div><!--//main-wrapper-->
    
    
    
       
    <!-- Javascript -->          
    <script src="templates/static/assets/plugins/jquery-3.3.1.min.js"></script>
    <script src="templates/static/assets/plugins/popper.min.js"></script>
    <script src="templates/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- Style Switcher (REMOVE ON YOUR PRODUCTION SITE) -->
    <script src="templates/static/assets/js/demo/style-switcher.js"></script>
    

</body>
</html>
