.header{
    background-color: rgb(228, 236, 250);
}
.header a{
    color: black;
}
.link-back{
    margin-left: 30%;
}
.p-md-5 {
    padding: 0px !important;
    margin: 20px;
}
.container{
    margin-left: 50px;
}
a.btn.btn-success{
    background-color:#5fcb71 ;
}
.media-body{
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
}
#comment-form button{
    background-color: #2e7eb1;
    border-color: #2e7eb1;
}
.pagination a {
  border-radius: 5px;
}

.pagination a.active {
  border-radius: 5px;
}
.slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }