<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Score</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- FontAwesome JS-->
    <script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js" integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7" crossorigin="anonymous"></script>
    
	<!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="static/assets/css/theme-1.css">
	<link href="static/style/traduction.css" rel="stylesheet">

</head>

<body>
    
    <header class="header ">	    
		<div class="link-back">
			<i class="fa fa-home" style="color: black;" >  </i><a role="text" href="{{ url_for('index') }}" >  Home</a><br/>
			<i class="fas fa-language" style="color: black;"></i><a role="text" href="{{ url_for('traduction') }}" >  Translate</a>
		</div>
    </header>
    
    <div class="main-wrapper">
	    <section class="cta-section theme-bg-light py-5">
		    <div class="container text-center">
			    <h2 class="heading">Choisissez une phrase traduite et notez la </h2>
			    <h2 class="heading">vous pouvez laisser un commentaire</h2>
			    <div class="intro">Vous pouvez recherche une phrase rapidement en utilisant la barre de recherche </div>
			    <form class="signup-form form-inline justify-content-center pt-3">
                    <div class="form-group">
                        <input type="text" id="semail" name="semail1" class="form-control mr-md-1 semail" placeholder="recherche ...">
                    </div>
                    <button type="submit" class="btn btn-primary">Recherche</button>
                </form>
		    </div><!--//container-->
	    </section>
	    <section class="blog-list px-3 py-5 p-md-5">
		    <div class="container">
				{% for traduction in traductions %}
			    <div class="item mb-5">
				    <div class="media">
					    <div class="media-body">

							<h3 class="title mb-1">{{traduction.src}}</h3>
							<h3 class="title mb-1">{{traduction.trg}}</h3>
							<form id="comment-form" class="signup-form form-inline pt-3">
                                <div class="form-group">
                                    <input type="number" form="comment-form" value="0" min="0" max="10" id="exampleCheck{traduction.id} class=" form-control mr-md-1 semail "></br>
                                    <h6><label class="form-check-label" for="exampleCheck{traduction.id}" >Note the translation</label> </h6>
                                </div>
								<div class="form-group">
									<textarea   id="comment" cols="70%" form="comment-form" class=" form-control mr-md-1 semail " placeholder="comment..."></textarea>
								</div>
								<button type="submit" class="btn btn-primary">Send</button>
							</form>

					    </div><!--//media-body-->
				    </div><!--//media-->
				</div><!--//item-->
				{% endfor %}
		    </div>
	    </section>
	    
    
    </div><!--//main-wrapper-->
    
    
    
       
    <!-- Javascript -->          
    <script src="assets/plugins/jquery-3.3.1.min.js"></script>
    <script src="assets/plugins/popper.min.js"></script> 
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script> 

    <!-- Style Switcher (REMOVE ON YOUR PRODUCTION SITE) -->
    <script src="assets/js/demo/style-switcher.js"></script>     
    

</body>
</html>