<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>Traduction</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- FontAwesome JS-->
    <script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js" integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7" crossorigin="anonymous"></script>
    
	<!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="static/assets/css/theme-1.css">
	<link href="static/style/traduction.css" rel="stylesheet">

</head> 

<body>
    
    <div class="header " style="overflow: auto;">
		<div class="link-back" style="margin-bottom:50%">
			<div class="card " style="margin-right:10px; ">
				<h6>* Your Score : {{avrg}}</h6>
			</div>
			<h6>Top  5 :</h6>
			<div class="top-ten ">
				{% for top in tops %}
					<i style="color: black;">* {{top}}</i><br/>
				{% endfor %}
			</div>
			<p></p>
			<i class="fa fa-home" style="color: black;" >  </i><a role="text" href="{{ url_for('index') }}" >  Home</a><br/>
			<i class="fas fa-star" style="color: black;"></i><a role="text" href="{{ url_for('score') }}" >  Score</a><br/>
			<i class="fa fa-sign-out" style="color: black;"></i><a role="text" href="{{ url_for('logout') }}" >  Logout</a><br/>
		</div>
    </div>
    <div class="main-wrapper">
	    <section class="cta-section theme-bg-light py-5">
		    <div class="container text-center">
			    <h2 class="heading">Choisissez une phrase et traduisez la vers le dialect Algerien "Darija"</h2>
			    <div class="intro">Vous pouvez recherche une phrase rapidement en utilisant la barre de recherche </div>
			    <form id="recherch-form"
					  class="signup-form form-inline justify-content-center pt-3"
				 	  action="{{ url_for('reserch',page='traduction')}}"
					  method="POST">
                    <div class="form-group">
                        <input type="text" id="semail" name="recherch" class="form-control mr-md-1 semail" placeholder="recherche ...">
                    </div>
                    <button type="submit" class="btn btn-primary">Recherche</button>
                </form>
		    </div><!--//container-->
	    </section>
	    <section class="blog-list px-3 py-5 p-md-5">
		    <div class="container">
				{% for traduction in traductions %}
			    <div class="item mb-5">

				    <div class="media">

					    <div class="media-body" style="padding:7px;">

							<h3 class="title mb-1" style="margin-left:15px;">{{ traduction.src }}</h3>
								<form id="comment-form{{traduction.id}}" class="signup-form form-inline pt-3" action="{{ url_for('traduction',id_traduction=traduction.id)}}" method="POST">
									<div class="form-check">
										<input type="checkbox" name="issue{{traduction.id}}" class="form-check-input" id="issue{{traduction.id}}">
										<label class="form-check-label" form="exampleCheck{{traduction.id}}">impossible to translate</label>
									</div>
									<div class="form-group" style="margin-bottom:15px;" >
										<textarea  name="translation{{traduction.id}}" id="traduction{{traduction.id}}" cols="70%" form="comment-form{{traduction.id}}" class=" form-control mr-md-1 semail " placeholder="Traduire..."></textarea>
									</div>
									<br/>
									<button type="submit" class="btn btn-primary">Send</button>
								</form>

					    </div><!--//media-body-->

				    </div><!--//media-->
				</div><!--//item-->
									{% endfor %}

				
		    </div>
	    </section>
	    
    
    </div><!--//main-wrapper-->
    
    
    
       
    <!-- Javascript -->          
    <script src="assets/plugins/jquery-3.3.1.min.js"></script>
    <script src="assets/plugins/popper.min.js"></script> 
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script> 

    <!-- Style Switcher (REMOVE ON YOUR PRODUCTION SITE) -->
    <script src="assets/js/demo/style-switcher.js"></script>     
    

</body>
</html> 

